GOOGLE_GENAI_USE_VERTEXAI=TRUE
GOOGLE_CLOUD_PROJECT=<gcp-project-id>
GOOGLE_CLOUD_LOCATION=asia-southeast1
MCP_SERVER_URL=http://localhost:8080/mcp
A2A_PORT=10000
MODEL_ARMOR_TEMPLATE_ID=anikrewe-safety
MODEL_ARMOR_LOCATION=asia-southeast1
ADK_INCLUDE_THOUGHTS=true
ENABLE_MODEL_ARMOR=true